/****** GENERELT ******/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'hansonbold';
}

h1 {
    font-size: 6vw;
}

h2 {
    -webkit-text-stroke: 1.5px #FF2B00;
    color: transparent;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 2em;
}



/******** PIL *******/

#arrowdown {
    color: black;
    z-index: 3;
    position: absolute;
    right: 16vw;
    top: 70vh;
    text-align: center;
}

.arrow {
    font-size: 4em;
    font-weight: 800;
    -webkit-text-stroke: 1.5px black;
    color: transparent;
}

.scrolltext {
    font-size: 1em;
}

#lookbook-splash #arrowdown {
    position: absolute;
    right: 6vw;
    top: 50vh;
}

/******* PIL MEDIA QUERY ******/

@media (max-width: 990px) {
    .scrolltext {
        display: none;
    }

    .arrow {
        position: absolute;
        top: 15vh;
        left: -40vw;
    }

    #lookbook-splash #arrowdown {
        display: none;
    }
}

/********* PIL SLUT *******/

/********* FONTE ********/

@font-face {
    font-family: 'hansonbold';
    src: url('fonts/hanson-bold-webfont.woff2') format('woff2'),
        url('fonts/hanson-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/****** NAV LOGO *****/

.etlogo {
    width: 150px;
    height: 90px;
    left: 2vw;
    position: fixed;
    z-index: 6;
}

.etlogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/****** BURGER MENU *******/


.header {
    width: 100%;
    height: 90px;
    background-color: white;
    position: fixed;
    z-index: 4;
}

.navbar {
    box-sizing: border-box;
    position: fixed;
    right: 0%;
    margin-top: 2vh;
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2.4px solid #fff;
    z-index: 4;
}

.nav-toggle {
    cursor: pointer;
    color: #fff;
    font-weight: lighter;
    text-transform: uppercase;
    z-index: 4;
}

.nav {
    position: fixed;
    width: 0%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    left: 0%;
    background: black;
    z-index: 4;
}

.nav-items {
    margin: 60px;
}

.nav-item {
    position: relative;
    font-size: 120px;
    z-index: 4;
}

.nav-item a {
    position: relative;
    top: 140px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'hansonbold';
    font-size: 120px;
    font-weight: lighter;
    transition: 1s;
    z-index: 4;
}

.nav-item-wrapper:after {
    content: "";
    position: absolute;
    top: 140px;
    left: 0;
    width: 110%;
    height: 100%;
    background: black;
    margin: 0 auto;
    transition: 1s;
    z-index: 4;
}

.nav-item:after {
    content: "";
    position: absolute;
    top: 45%;
    left: 0;
    width: 0%;
    height: 2.8px;
    background: #fff;
    transition: 0.3s;
    z-index: 4;
}

.nav-item:hover:after {
    width: 100%;
    background-color: white;
    z-index: 4;
    filter: drop-shadow(0 0 0.50rem crimson);
}

.burger {
    display: block;
    cursor: pointer;
    z-index: 4;
}


.burger div {
    width: 46px;
    height: 8px;
    background-color: black;
    margin: 5px 5px;
    transition: all 0.5s ease;
    z-index: 4;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-12px, 12px);
}



.toggle .line2 {
    opacity: 0;
}


.toggle .line3 {
    transform: rotate(45deg) translate(-6px, -7px);
}

/****** SLUT BURGER MENU *******/


/******* BURGER MEDIA QUERIES *****/

@media (max-width: 990px) {

    .navbar {
        width: 16%;
    }

    .nav {
        right: 16%;
        max-width: 84%;
    }

    .nav-item a {
        font-size: 0.3em;
        letter-spacing: 0;
    }

    .nav-item:after {
        display: none;
    }

    .nav-items {
        margin-left: 20px;
    }

}

/******* SLUT BURGER MEDIA QUERIES *****/



/******* SPLASH *******/

#splash {
    position: relative;
    min-height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    background-color: #f7f7f7;

}

.container-img {
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

#splash video {
    max-width: 600px;
    height: auto;

}

/*** FORSIDE TEKST ****/

.forsidetekst {
    position: absolute;
    top: 55%;
    left: 14%;
    flex-direction: row;
}

.forsidetekst h1 {
    font-size: 6vw;
    text-transform: uppercase;
    margin: 0;
}

.forsidetekst1 {
    line-height: 1em;

}

.forsidetekst2 {
    display: inline-block;
    line-height: 1em;
    color: transparent;
    -webkit-text-stroke: 2px red;
}

/******* FORSIDE EKSTRA ********/

.aarstal {
    position: absolute;
    top: 20%;
    right: 14%;
    font-size: 3vw;
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.lookbooklink {
    position: absolute;
    bottom: 10%;
    left: 15%;
    text-transform: uppercase;
}

.lookbooklink a {
    text-decoration: none;
    color: black;
    font-size: 2vw;
}

.lookbooklink a:hover {
    text-decoration: underline;
    color: transparent;
    -webkit-text-stroke: 2px red;
}

#containeren img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    -webkit-filter: filter: invert(23%) sepia(74%) saturate(1500%) hue-rotate(352deg) brightness(89%) contrast(200%);
    filter: invert(23%) sepia(74%) saturate(1500%) hue-rotate(352deg) brightness(89%) contrast(200%);
    cursor: pointer;
}

/******** SPLASH MEDIA QUERIES *******/

@media (max-width: 990px) {
    #splash video {
        max-width: 350px;
    }

    .forsidetekst h1 {
        font-size: 12vw;
        letter-spacing: 2px;
    }

    .forsidetekst {
        left: 2vw;
    }

    .aarstal {
        font-size: 8vw;
        right: 4vw;
    }

    .lookbooklink a {
        font-size: 8vw;
    }

    .lookbooklink {
        left: 4vw;
        top: 75vh;
    }

}

/********* SPLASH MEDIA SLUT ********/

/******* FORSIDE BUNDEN ********/

#bunden {
    width: 100%;
    background-color: rgba(221, 221, 221, 0.55);
    padding-top: 50px;
    padding-bottom: 50px;
}

#farvebox {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 1400px;
}

#containeren {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


#containeren img {
    max-width: 350px;
    height: auto;
}

#containeren img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#sectionwrapper {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;

}

.hoejreside {
    display: flex;
}

.hoejreside video {
    max-width: 700px;
    height: auto;
    z-index: 2;

}

#venstreside {
    padding: 10px;
    padding-bottom: 20px;
}

#venstreside p {
    font-size: 1.1em;
    font-family: sans-serif;
    max-width: 600px;
}

.overhoved {
    margin-bottom: 0;
}

/******** FORSIDE BUND SLUT *******/


/******** FORSIDE BUND MEDIA QUERIES *****/

@media (max-width: 990px) {
    .hoejreside video {
        max-width: 350px;

    }

    #sectionwrapper {
        justify-content: center;
    }

    #containeren {
        justify-content: center;
    }

    #containeren img {
        margin-top: 20px;
    }
}

/********* LOOKBOOK STYLING ********/

.overskrift {
    padding-top: 120px;
    background-color: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}



.overskriftdelto {
    -webkit-text-stroke: 3px #FF2B00;
    color: transparent;
}

.overskriftdelto:hover {
    filter: drop-shadow(0 0 0.50rem #FF2B00);
    transition: 0.5s;
}

#lookbook-splash {
    display: flex;
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 80px;

}

#lookbook-video {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

#lookbook-video video {
    width: 65%;
    height: auto;
}

#lookbook-splash h1 {
    position: relative;
}


/********* LOOKBOOK NEDRE SEKTION ********/

#container {
    display: flex;
    flex-wrap: wrap;
}


.billedelook {
    height: auto;
    width: 100%;
    max-width: 400px;
    display: flex;
}

.look_wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    flex-wrap: wrap-reverse;
}

.farvedeler {
    display: flex;
    width: 100%;
}

.farvedeler .look_wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
}


.farvedeler:nth-child(even) {
    background-color: #f7f7f7;
}


.farvedeler:nth-child(2n) .look_wrapper {
    flex-direction: row-reverse;
}


.farvedeler:nth-child(2n-1) {
    background-color: rgba(221, 221, 221, 0.55);
}


.right {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.look-titel {
    justify-content: center;
    font-size: 2em;
}

.look-tekst {
    font-size: 1em;
}


/********** LOOKBOOK MEDIA QUERIES *******/

@media (max-width: 900px) {
    .look_wrapper {
        justify-content: center;
    }

    .farvedeler .look_wrapper {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .look_wrapper {
        margin-left: 10px;
        margin-right: 10px;
    }

    .right {
        margin-bottom: 24px;
    }

    #lookbook-video video {
        min-width: 95%;
    }

    #lookbook-splash {
        padding-top: 40px;
    }

    .overskrift h1 {
        font-size: 12vw;
    }

    #container {
        padding-bottom: 80px;
    }

}



/********** ABOUT US *******/

.farve_box {
    display: flex;
    width: 100%;
    background-color: #f7f7f7;
}

.about_wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    width: 1400px;
    flex-wrap: wrap-reverse;
    padding-top: 80px;
    padding-bottom: 80px;
}

.about_billede {
    height: auto;
    width: 100%;
    max-width: 600px;
    display: flex;
}

.about_left {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.about_titel {
    justify-content: center;
    font-size: 3em;
}

/********** ABOUT US MEDIA *******/

@media (max-width: 900px) {
    .about_wrapper {
        padding-top: 20px;
        padding-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .about_right {
        margin-bottom: 24px;
    }

}

/********** PRODUKTER *******/

.produkt_billede {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.personliste #container {
    text-align: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    max-width: 1400px;
    margin: 0 auto;
}

.personliste {
    background-color: #f7f7f7;
    padding-top: 80px;
    padding-bottom: 80px;
}

.produkt_titel {
    font-size: 1.5em;
    margin: 15px;
}

.grid {
    background-color: rgba(221, 221, 221, 0.55);
    padding: 0 20px;
    border-radius: 6px;
}

.grid:hover {
    background-color: white;
    transform: scale(1.01);
    transition-duration: 0.3s;
}

.kort {
    font-weight: 400;
    font-size: 0.9em;
}

.pris {
    margin: 15px;
}

@media screen and (max-width: 900px) {
    .personliste #container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .personliste {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .grid {
        margin: 0 20px;
    }
}

/******* PRODUKTER SLUT *******/


/******* SINGLE VIEW *******/

#singleview .about_wrapper {
    flex-direction: row-reverse;
}

#singleview .about_right {
    max-width: 600px;
    max-height: 800px;
}

#singleview img:hover {
    filter: drop-shadow(0 0 1.50rem black);
}

#singleview .about_tekst {
    font-size: 2em;
}

#singleview .about_titel {
    font-size: 3em;
}

#singleview .punktform {
    padding-top: 20px;
}

#singleview .farve_box {
    padding-top: 40px;
}

/******** SINGLE VIEW MEDIA QUERIES *******/

@media screen and (max-width: 900px) {
    #singleview .fitsize {
        padding-bottom: 40px;
    }

    #singleview .about_tekst {
        padding-top: 20px;
    }
}

/******** SINGLE VIEW SLUT ******/


/********** FOOTER *******/

footer {
    position: sticky;
}

.footeren {
    background-color: #222222;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footeren .footer-venstre,
.footeren .footer-midt,
.footeren .footer-hoejre {
    display: inline-block;
    vertical-align: top;
    position: relative;

}

.footeren .footer-venstre {
    width: 40%;
    justify-content: center;
    align-items: center;

}

.footeren h3 {
    color: #ffffff;
    margin: 0;
    font-family: 'hansonbold';
    font-size: 2em;

}

.footeren h3 span {
    color: #5383d3;

}


.footeren .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;

}

.footeren .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;

}

.footeren .footer-links a:hover {
    text-decoration: underline;
}


.footeren .footer-midt {
    width: 35%;
}

.footeren .footer-midt i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footeren .footer-midt i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footeren .footer-midt p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footeren .footer-midt p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footeren .footer-midt p a {
    color: #ffffff;
    text-decoration: none;
}

.footeren .footer-hoejre {
    width: 20%;
    justify-content: space-between;
}

.footeren .footer-socialemedier {
    margin-top: 25px;
}

.footeren .footer-socialemedier a {
    display: inline-block;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 2px;

    font-size: 4em;
    color: #ffffff;
    text-align: center;

    margin-right: 20px;
    margin-left: 20px;
}

.footeren .footer-socialemedier a:hover {
    transform: scale(1.1);
    transition: 0.5s;
    -webkit-filter: invert(35%) sepia(86%) saturate(7250%) hue-rotate(9deg) brightness(102%) contrast(119%);
    filter: invert(35%) sepia(86%) saturate(7250%) hue-rotate(9deg) brightness(102%) contrast(119%);
    cursor: pointer;
}

@media (max-width: 900px) {

    .footeren {
        font: bold 14px sans-serif;
        padding: 10px;

    }

    .footeren .footer-venstre,
    .footeren .footer-midt,
    .footeren .footer-hoejre {
        display: block;
        width: 100%;
        margin-bottom: 0px;
        text-align: center;
    }

    .footeren .footer-midt i {
        margin-left: 0;
    }

    .main {
        line-height: normal;
        font-size: auto;
    }

    .footeren .footer-socialemedier a {
        font-size: 3em;
    }

}
